<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

  <div>
    {{>header}}
    <p>This site was created by Rick S. It uses data from Mapbox.com and Weatherstack.com</p>
    <img class="selfImage" src="/img/starWars.jpg">
  </div>

  {{>footer}}
</body>
</html>